:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: "Inter";
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url(img/Background.png);
  background-repeat: no-repeat; /*pra n repetir a imagem*/
  background-size: contain; /*pegar todo o tamanho do container, no caso a section*/
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh; /* altura do dispositivo */
  display: grid; /*separa os elementos lado/lado ou abaixo, por linha*/
  grid-template-columns: 50% 50%; /*separa os elementos por coluna*/
}
.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  text-decoration: none; /*tirando o sublinhado da frase*/
  padding: 1em; /*tamanho da fonte*/
  color: var(--branco-principal);
  display: block; /*ocupando o bloco todo*/
  margin-bottom: 1em;
}
.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}
.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700; /*peso do negrito*/
}
.container__imagem {
  margin: 1em 0 2em 0;
}
.container__caixa {
  margin: 0 6em;
}
.secundario__imagen {
  width: 80%; /*deixando a imagem responsivo p/ ñ sobrepor o texto em mobile*, 80% da coluna*/
}
.secundario {
  align-items: center; /*alinhado no centro na coluna*/
  margin: 0 10em;
}
.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}
.descricao__texto {
  color: var(--cinza-secundario);
}
.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}
.container__descricao {
  padding: 2em;
}
.dispositivos__listas {
  display: flex; /*Deixando a lista de imagens lado a lado*/
  justify-content: center; /*centralizando a lista*/
  list-style-type: none; /*retira o ponto de ordenaçao da lista*/
  margin: 5em 0;
}
.dispositivos {
  text-align: center; /*centralizando título*/
}
.dispositivos__titulos {
  font-size: 48px;
  color: var(--branco-principal);
}
.lista__item {
  font-size: 32px;
  color: var(--branco-principal);
}
.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.rodape {
  display: block;
  text-align: center;
}
.rodape__logo {
  margin: 1em;
}
.lista__link a {
  color: var(--branco-principal);
  text-decoration: none;
  margin: 1em;
}
.rodape__texto{
  margin: 2em;
  font-size: 12px;
  color: var(--cinza-secundario);
}
